html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: ghostwhite;
}

header {
  text-align: center;
}

#firstSection > nav > ul{
  text-align: center;
  list-style: none;
}

#mainList {
  margin-left: 50%;
}

h1 {
  font-weight: bolder;
  text-decoration: underline;
  border: 2px solid darkorange;
  padding: 10px 20px;
}

#dynamic {
  display: flex;
}

fieldset {
  text-align: right;
  margin-right: 50%;
  margin-left: 50%;
  border: none;
}

fieldset > input{
  margin-bottom: 10px;
}

section {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px
  padding: 10px
}
